.pop-up-form23 {
    position: absolute;
    /* top: 51%;
    left: 50%;
    transform: translate(-50%, -49%);
    margin: 0 auto; */
    align-items: center;
    z-index: 2;
  }

  body.intro {
    z-index: 2;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
  }

  @media only screen and (max-width: 767px) {
    .box-shadow-menu .fa.fa-bars {
      position: absolute;
      right: 0;
      z-index: 999;
    }

    /* .pop-up-form23 {
      position: absolute;
      top: 19%;
      left: 0;
      right: 50%;
      margin: 0 auto;
      align-items: center;
      z-index: 2;
      max-width: 85%;
      margin: 0px 25px;
    } */

    .toggle-on-off {
      max-height: unset;
      top: 30%;
      width: 85%;

    }

    .search-form-field {
      width: 80%;
    }

    section.transaction-settings.pop-up-form33 {
      margin: 0px 20px;
    }
  }

  input {
    color: #000;
  }

  @media(min-width:768px) {
    section.transaction-settings.pop-up-form33 {
      max-width: 350px;
      width: 100%;
    }
  }

  .arrow-col {
    padding: 6px !important;
    text-align: center;
  }

  /* .connect-wallet {
    padding: 10px 0px;
  } */

  .transaction-heading {

    row-gap: 8px !important;
  }