@import './style.css';

.connect-wallet-form {
    background: var(--connect-wallet-backgroud);
    padding: 2rem;
    height: 410px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.connect-wallet-styling {
    top: 55%;
    transform: translate(-50%, -45%);
}

.connect-wallet-buttons {
    background: transparent;
    outline: none;
    border: 1px solid var(--connect-wallet-button-border);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    margin-top: 0px;
    margin-bottom: 10px;
    opacity: 1;
    width: 100% !important;
    color: var(--connect-wallet-font-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.connect-wallet-buttons:hover{
    cursor: pointer;
    border: 1px solid var(--darkmode-managebutton-color);
}

.connect-wallet-buttons p {
    padding: 0;
    margin: 0;
}

.connect-wallet-buttons img {
    height: 24px;
    width: 24px;
}

.connect-wallet-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    color: var(--connect-wallet-font-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.connect-wallet-footer span {
    margin-right: 15px;
}

.connect-wallet-footer .highlight-text {
    color: var(--button-color);
}

.dark-mode-connect-wallet-form {
    background: var(--darkmode-background);
}

.dark-mode-connect-wallet-buttons {
    color: var(--primary-color);
    border: 1px solid var(--darkmode-input-border);
}

.dark-mode-footer {
    color: var(--primary-color);
}

@media (min-width: 321px) and (max-width: 450px) {
    .connect-wallet-footer {
        font-size: 1.4rem;
    }
    
    .connect-wallet-form {
        height: 420px;
    }
}