@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --button-background-color: rgb(39 141 255 / 14%);
  --button-color: rgb(30,144,255);
  --border-color: rgb(0,191,255);
  --tabs-background-color: #EFF4F5;
  --primary-color: #fff;
  --secondary-color: #333;
  --darkmode-background: rgb(44, 47, 54);
  --darkmode-connectbutton-background: rgba(21, 61, 111, 0.44);
  --darkmode-connectbutton-color: rgb(109, 168, 255);
  --darkmode-themebutton-background: rgb(86, 90, 105);
  --darkmode-applinks-color: rgb(195, 197, 203);
  --darkmode-form-background: rgb(33, 36, 41);
  --darkmode-overlay-background: rgba(0, 0, 0, 0.85);
  --darkmode-input-border: rgb(64, 68, 79);
  --darkmode-managebutton-color: rgb(33, 114, 229);
  --connect-wallet-backgroud: rgb(247, 248, 250);
  --connect-wallet-font-color: rgb(0, 0, 0);
  --connect-wallet-button-border: rgb(237, 238, 242);
  --transaction-setting-color: rgb(195, 197, 203);
}

body{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  min-height: 100vh;
  background-position: 0px -30vh;
  background-repeat: no-repeat;
  background-image: radial-gradient(50% 50% at 50% 50%, rgb(39 141 255 / 14%) 0%, rgba(255, 255, 255, 0) 100%);
}
/*header*/
.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header ul.clearfix {
  width: 100%;
}

img.logo {
    width: 55px;
}
button.tablinks.active {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
button.tablinks {
    float:left;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    border: unset;
    background: #fff;
}
.tabcontent h3 {
    color: #565a69;
    font-size: 14px;
    font-weight: 500;
}
input.token-amount-input {
  outline: none;
  font-size: 24px;
  border: unset;
}
.swap-purchase-form{
    position: relative;
    /* max-width: 420px; */
    width: 100%;
        background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}
.tab {
    padding: 12px 1rem 0px 1.5rem;
}

.form-title h3 {
  margin-top: 0px;
}

.form-field {
    padding: 16px;
    border-radius: 20px;
    border: 1px solid #f7f8fa;
}
.form-field1 {
    border-radius: 20px;
    border: 1px solid #f7f8fa;
    }
div#Swap {
    padding: 20px;
    margin-top: 30px;
}
/*
.swap-tab {
    border-right: 1px solid #e5e5e5 !important;
}*/
span.arrow-span {
    color: #606472;
}
.arrow-col {
    padding: 16px;
    text-align: center;
}

span.ETH-span {
  display: flex;
  align-items: center;
}

span.ETH-span img {
    width: 26px;
    height: 26px;
    box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
    border-radius: 24px;
}
button.ETH {
    border: none;
    background: #fff;
}
span.eth-title {
    margin: 0px 0.25rem 0px 0.75rem;
    font-size: 22px;
    color: #000;
    font-weight: 600;
}
span.eth-icon {
    color: #000;
    font-size: 20px;
    margin: 0px 8px;
}
button.select-token {
    background-color: rgb(38 136 255);
    border: none;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
   padding: 5px 18px;
}
span.token-span {
    font-size: 16px;
}
span.token-icon {
    color: #fff;
}
.connect-wallet {
    padding: 30px 0px;
}
.connect-btn {
    padding: 18px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    outline: none;
    border: 1px solid transparent;
    text-decoration: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    background-color: rgb(63 200 255 / 32%);
    color: rgb(35 127 255);
    font-size: 16px;
    font-weight: 500;
}

.connect-btn:focus {
  outline: none;
}

div#Purchase {
    padding: 20px;
        margin-top: 30px;
}
input.token-amount-input {
    width: 100%;
}
.tab .setting-icon i{
    float: right;
     color: #606472;
     font-size:20px;
     padding-right: 20px;
     padding-top: 10px;
}
.tab .title{
color: #000;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 20px;
}

.navbar {
  margin-bottom: 10px;
  background: transparent;
}

.navbar-nav {
  width: 100%;
}

.navbar ul li a{
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
    background-color: #F6F6F6;
    border-bottom: 2px solid #2688FF;
    border-left: 0 !important;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

a#pull.box-shadow-menu {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
}

/*header-css*/

nav ul {
  margin: 0 auto;
  height: 60px; 
}

nav li {
  display: inline; /* pulls the <li> into the <nav> and displays them inlide i.e. side by side */
  float: left;
  padding-top: 22px;
}

nav a {
  color: #fff;
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

nav li:last-child a {
  border-right: 0;
}

nav a#pull {
  display: none;
}

.navbar-header {
  padding-right: 20px;
}
.navbar-brand{
    height:0px;
    padding: 5px;
    line-height: 0;
}

.navbar-brand-logo {
  color: rgb(0, 0, 0);
  margin-left: 75px;
  margin-top: 17px;
  font-weight: bold;
  font-size: 26px;
}

.buttons-container {
  float: right;
}

.connect-wallet-appbar {
  padding: 0.8rem;
  margin-top: 18px;
  font-weight: 600;
  height: 40px;
  font-size: 17px;
  border-radius: 12px;
  background-color: var(--button-background-color);
  border: 1px solid var(--border-color);
  color: var(--button-color);
  outline: 0;
}

.connect-wallet-appbar:focus, .connect-wallet-appbar:active:focus, .connect-wallet-appbar:hover, .theme-toggle-button:focus, .ETH:focus {
  outline: 0;
  color: var(--button-color);
}

.connect-wallet-appbar:hover {
  border: 1px solid var(--button-color);
}

.theme-toggle-button {
  margin-top: 18px;
  background: var(--button-background-color);
  width: 40px;
  height: 40px;
  padding: 0.8rem;
  border-radius: 9px;
  color: var(--secondary-color);
  font-size: 26px;
  text-align: center;
  display: flex;
  align-items: center;
}

.theme-toggle-button:focus, svg:focus,.select-token:focus, .token-span:focus, .eth-title:focus {
  outline: none !important;
}

/* Toggle Tabs */
.tabs-container {
  width: 200px;
  height: 32px;
  margin-bottom: 40px;
  background: var(--tabs-background-color);
  border-radius: 16px;
  color: var(--button-color);
}

.tab-row {
  height: inherit;
}

.tab-toggle-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tabs-container .active-tab {
  background: var(--button-color);
  height: inherit;
  width: 100%;
  border-radius: 16px;
  color: var(--primary-color);
  text-align: center;
}

/* The fixed mobile footer that appears on mobile screens */
.mobile-footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--primary-color);
  height: 72px;
  border-radius: 12px 12px 0px 0px;
}

/* Dark Mode */
.dark-mode-body {
  background: var(--darkmode-background);
}

body.dark-mode-intro {
  background-color: var(--darkmode-overlay-background);
}

.dark-mode-connect-wallet-appbar {
  background: var(--darkmode-connectbutton-background);
  border: none;
}

.dark-mode-app-logo, .dark-mode-form-title {
  color: var(--primary-color) !important;
}

.dark-mode-appbar-links, .dark-mode-input-title {
  color: var(--darkmode-applinks-color) !important;
}

.dark-mode-theme-button, .dark-mode-theme-button:focus, .dark-mode-theme-button:active:focus {
  color: var(--primary-color);
  background: var(--darkmode-themebutton-background);
}

.dark-mode-form-field {
  border: 1px solid var(--darkmode-background);
}

.dark-mode-form, .dark-mode-swap-purchase-button {
  background: var(--darkmode-form-background) !important;
}

input.dark-mode-input {
  background: var(--darkmode-form-background);
  color: var(--primary-color);
}

span.dark-mode-token-icon, span.dark-mode-token-title, i.dark-mode-setting-icon {
  color: var(--primary-color) !important;
}

.dark-mode-connectbtn, .dark-mode-tab-container {
  background: var(--darkmode-connectbutton-background);
  color: var(--darkmode-connectbutton-color);
}

.dark-mode-pop-up-form-23 {
  background: var(--darkmode-form-background) !important;
  border-top: var(--darkmode-background) !important;
}

.dark-mode-input-border {
  border: 1px solid var(--darkmode-input-border) !important;
  color: var(--primary-color) !important;
}

@media (max-width: 320px) {
  .header {
    margin-bottom: 30px;
  }

  nav li {
    display: block;
    float: none;
    width: 100%;
}

  .navbar-header {
    margin-right: auto;
    padding-top: 0;
  }

  img.logo { 
    width: 35px;
  }

  .navbar-brand-logo {
    margin-left: 55px;
    margin-top: 10px;
    font-size: 22px;
  }

  .navbar-default {
    border: none;
  }

  .tabs-container {
    margin-bottom: 20px;
  }

  .swap-purchase-form{
      max-width:290px;
  }
  
  button.select-token {
      padding: 8px 8px;
  }
  
  /* Resizing the padding so that the select token button is in one line */
  .select-token-container-swap, .select-token-container-purchase, .from-swap-btn, .from-purchase-btn {
      padding-left: 10px;
      padding-right: 10px;
  }

  .connect-wallet {
    padding-bottom: 5px;
    padding-top: 20px;
  }

  div#Swap, div#Purchase {
    padding: 10px;
  }

  /* Select a span */
  span.token-span {
    font-size: 14px;
  }
  }

  
  @media all and (min-width: 360px) {
    .header {
      margin-bottom: 30px;
    }

    .swap-purchase-form{
      max-width: 320px;
    }

    
    .ETH {
      margin-left: 15%;
    }

    .select-token {
      margin-left: 5%;
    }
  }

  @media all and (min-width: 375px) {
    .swap-purchase-form{
      max-width: 350px;
    }

    .ETH {
      margin-left: 25%;
    }

    .select-token {
      margin-left: 15%;
    }
  }

  @media all and (min-width: 411px) {
    .header {
      margin-bottom: 70px;
    }
  }
  
  @media (min-width: 321px) and (max-width: 480px) {

  img.logo { 
    width: 45px;
  }

  .navbar-brand-logo {
    margin-left: 55px;
    margin-top: 14px;
    font-size: 23px;
  }

  .tabs-container {
    margin-bottom: 30px;
  }

  div#Swap, div#Purchase {
    padding: 13px;
  }
  
  button.select-token {
      padding: 8px 10px;
  }

  /* Resizing the padding so that the select token button is in one line */
  .select-token-container-swap, .select-token-container-purchase, .from-swap-btn, .from-purchase-btn {
    padding-left: 10px;
    padding-right: 10px;
  }

  .connect-wallet {
    padding-bottom: 10px;
    padding-top: 20px;
  }
  }

@media all and (max-width: 375px) {
  /* To make the page scrollable */
  .bottom {
    height: 130px;
  }
}

/* Breakpoint of 480px */
@media only screen and (max-width: 480px) {

  nav {
    border-bottom: 0;
  }

  .navbar {
    margin-bottom: 0;
  }

  .navbar-header {
    margin-right: auto;
    padding-top: 0;
  }
  
  nav ul {
    display: none;
    height: auto;
  }
  
  nav a#pull {
    display: block;
    width: 100%;
    position: relative;
  }
  
  nav a#pull:after {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .connect-wallet-appbar, .theme-toggle-button {
    margin-top: 0;
  }
}

@media all and (min-width: 576px) {
  .header {
    margin-bottom: 30px;
  }

  .navbar {
    margin-bottom: 0;
  }

  .navbar ul li a {
    font-size: 17px;
  }

  .navbar-brand-logo {
    font-size: 22px;
  }

  button.select-token {
    padding: 8px 13px;
  }

  .select-token {
    margin-left: 0;
  }
}

@media all and (min-width: 768px) {

.navbar li {
  padding-top: 16px;
}
}

@media screen and (max-width: 600px) {
  nav { 
    height: auto;
  }
  nav ul {
  width: 100%;
  display: block;
  height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav li a {
     padding: 10px;
  }
  nav a {
    width: 100%; /* makes it so they are no longer 100px wide and makes them 100% of the <li> which is 50% of the <ul> which is 100% of whatever the screen is */
    
    text-indent: 25px;
} 
}


@media all and (max-width: 991px) {
  .hide-on-mobile {
    display: none !important;
  }

  .footer-buttons-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
