@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  min-height: 100vh;
  background-position: 0px -30vh;
  background-repeat: no-repeat;
  background-image: radial-gradient(50% 50% at 50% 50%, rgb(39 141 255 / 14%) 0%, rgba(255, 255, 255, 0) 100%);
}
/*header*/
.header {
    padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 70px;
}
img.logo {
    width: 55px;
}
button.tablinks.active {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
button.tablinks {
    float:left;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    border: unset;
    background: #fff;
}
.tabcontent h3 {
    color: #565a69;
    font-size: 14px;
    font-weight: 500;
}
input.token-amount-input {
    font-size: 24px;
    border: unset;
}
.swap-purchase-form{
    position: relative;
    max-width: 420px;
    width: 100%;
        background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}
.tab {
    padding: 12px 1rem 0px 1.5rem;
}
.form-field {
    padding: 16px;
    border-radius: 20px;
    border: 1px solid #f7f8fa;
}
.form-field1 {
    border-radius: 20px;
    border: 1px solid #f7f8fa;
    }
div#Swap {
    padding: 20px;
    margin-top: 30px;
}
/*
.swap-tab {
    border-right: 1px solid #e5e5e5 !important;
}*/
span.arrow-span {
    color: #606472;
}
.arrow-col {
    padding: 16px;
    text-align: center;
}
span.ETH-span img {
    width: 24px;
    height: 24px;
    box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
    border-radius: 24px;
}
button.ETH {
    border: none;
    background: #fff;
}
span.eth-title {
    margin: 0px 0.25rem 0px 0.75rem;
    font-size: 24px;
    color: #000;
    font-weight: 600;
}
span.eth-icon {
    color: #000;
    font-size: 20px;
    margin: 0px 8px;
}
button.select-token {
    background-color: rgb(38 136 255);
    border: none;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
   padding: 5px 18px;
}
span.token-span {
    font-size: 16px;
}
span.token-icon {
    color: #fff;
}
.connect-wallet {
    padding: 30px 0px;
}
.connect-btn {
    padding: 18px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    outline: none;
    border: 1px solid transparent;
    text-decoration: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    background-color: rgb(63 200 255 / 32%);
    color: rgb(35 127 255);
    font-size: 16px;
    font-weight: 500;
}
div#Purchase {
    padding: 20px;
        margin-top: 30px;
}
input.token-amount-input {
    width: 50%;
}
.tab .setting-icon i{
    float: right;
     color: #606472;
     font-size:20px;
     padding-right: 20px;
     padding-top: 10px;
}
.tab .title{
color: #000;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 20px;
}
.navbar ul li a{
font-size: 18px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
    background-color: #F6F6F6;
    border-bottom: 2px solid #2688FF;
    border-left: 0 !important;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
.header ul.clearfix {
    float: left;
}
a#pull.box-shadow-menu {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
}

/*header-css*/

nav ul {
  margin: 0 auto;
  width: 600px;
  height: 60px; 
}

nav li {
  display: inline; /* pulls the <li> into the <nav> and displays them inlide i.e. side by side */
  float: left;
  
}

nav a {
  color: #fff;
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

nav li:last-child a {
  border-right: 0;
}

nav a#pull {
  display: none;
}
.navbar-brand{
    height:0px;
    padding: 5px;
    line-height: 0;
}

.navbar-brand-logo {
  color: rgb(0, 0, 0);
  margin-left: 60px;
  margin-top: 17px;
  font-weight: bold;
  font-size: 26px;
}

.connect-wallet-appbar {
  padding: 0.8rem;
  font-weight: 600;
  margin-top: 34px;
  font-size: 17px;
  border-radius: 12px;
  float: right;
  background-color: rgb(39 141 255 / 14%);
  border: 1px solid rgb(253, 234, 241);
  color: rgb(30,144,255);
  outline: 0;
}

.connect-wallet-appbar:focus, .connect-wallet-appbar:active:focus {
  outline: 0;
  color: rgb(30,144,255);
}
/* Breakpoint of 600px */

@media screen and (max-width: 600px) {
  nav { 
    height: auto;
  }
  nav ul {
  width: 100%;
  display: block;
  height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav li a {
     padding: 10px;
  }
  nav a {
    width: 100%; /* makes it so they are no longer 100px wide and makes them 100% of the <li> which is 50% of the <ul> which is 100% of whatever the screen is */
    
    text-indent: 25px;
}
}
  
/* Breakpoint of 480px */
@media only screen and (max-width: 480px) {
  nav {
    border-bottom: 0;
  }
  
  nav ul {
    display: none;
    height: auto;
  }
  
  nav a#pull {
    display: block;
    width: 100%;
    position: relative;
  }
  
  nav a#pull:after {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  } 
}

@media (min-width: 768px){
.header ul.clearfix {
  margin-top: 12px;
  padding: 22px;
}
}
  
/* Breakpoint of 320px */
  
@media (max-width: 320px) {
  nav li {
    display: block;
    float: none;
    width: 100%;
}
}